@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700&display=swap");

body {
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
}

#root {
  height: 100%;
}

.left {
  top: 45%;
  left: 0.8rem;
}

.right {
  top: 45%;
  right: 0.8rem;
}

.cart {
  top: 110%;
  right: 8%;
}

@media screen and (min-width: 768px) {
  .cart {
    top: 100%;
    right: 5%;
  }
  .badge {
    height: 15px;
    right: -5px;
  }
}

.badge {
  top: -5px;
  right: 0;
  font-size: 8px;
  padding-top: 0;
  height: 10px;
}
